

<header class="bannerSantander" id="barra">
    <div  class="container ">
        <div class="row">

            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                             <div class="stock-card-container"> 
                               <div>
                                    <div class="name-acao">SANB11</div>
                                    <span class="data">08/007/2019</span>
                                    <p class="hora">12:51:48</p>
                                </div>
                                <div>
                                    <div class="value-acao">R$ 49,14</div>
                                    <div class="variation">+ 0,14%</div>
                                </div>
                              
                              </div>
            </div>

            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                             <div class="stock-card-container"> 
                               <div>
                                    <div class="name-acao">SANB11</div>
                                    <span class="data">08/007/2019</span>
                                    <p class="hora">12:51:48</p>
                                </div>
                                <div>
                                    <div class="value-acao">R$ 49,14</div>
                                    <div class="variation">+ 0,14%</div>
                                </div>
                              
                              </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="stock-card-container"> 
                    <div>
                         <div class="name-acao">SANB11</div>
                         <span class="data">08/007/2019</span>
                         <p class="hora">12:51:48</p>
                     </div>
                     <div>
                         <div class="value-acao">R$ 49,14</div>
                         <div class="variation">+ 0,14%</div>
                     </div>
                   
                   </div>
            </div>
          
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="stock-card-container"> 
                    <div>
                         <div class="name-acao">SANB11</div>
                         <span class="data">08/007/2019</span>
                         <p class="hora">12:51:48</p>
                     </div>
                     <div>
                         <div class="value-acao">R$ 49,14</div>
                         <div class="variation">+ 0,14%</div>
                     </div>
                   
                   </div>
            </div>
            
      </div>
    </div>
</header>
